@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Poppins", sans-serif !important;
}

select {
    -webkit-appearance: none;
}

input:-webkit-autofill {
    -webkit-background-clip: text;
}

/* Default light theme scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 80px;
}

::-webkit-scrollbar-thumb {
    background: #F2F2F2;
    border: 1px solid #9B9B9B;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #F2F2F2;
}

/* Dark theme scrollbar */
@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 80px;
    }

    ::-webkit-scrollbar-thumb {
        background: #2A2A2E;
        border: 1px solid #A0A0A0;
        border-radius: 6px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #3C3C3C;
    }
}

/* Progress bar css */
.progress {
    background: linear-gradient(to right, #3E3E3E 0%, #3E3E3E 40%, #fff 40%, #fff 100%);
    border: solid 2px #3E3E3E;
    border-radius: 8px;
    height: 7px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
}

.progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #3E3E3E;
}